.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 220px;
  background-color: #0f172a;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px;
  box-shadow: 3px 0 10px rgba(0, 0, 0, 0.2);
}

.sidebar-logo {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
  width: 100%;
  color: #38bdf8;
}

.sidebar-links {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.sidebar-links li {
  margin-bottom: 20px;
}

.sidebar-links a {
  text-decoration: none;
  color: #e2e8f0;
  font-size: 1rem;
  display: block;
  padding: 10px 15px;
  border-radius: 8px;
  transition: 0.3s, color 0.3s;
}

.sidebar-links a:hover {
  background-color: #1e293b;
  color: #38bdf8;
}

/* Responsividade */
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
  }

  .sidebar-links {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .sidebar-links li {
    margin-bottom: 0;
  }
}
