.card-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    padding: 16px;
}

.card {
  width: 100%;
  height: 320px;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: end;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card-info {
  background: rgba(0, 0, 0, 0.6);
  color: white;
  width: 100%;
  padding: 10px;
  border-radius: 0 0 16px 16px;
}

.card-info h2 {
  font-size: 1.1rem;
  margin: 0;
}

.card-info p {
  font-size: 0.9rem;
  margin: 4px 0 0;
}